@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap'); /*External font "Oswald" */
body{
    background-color: rgb(105, 174, 230);
}
div#corpo{
    background-color: white;
    width: 750px;
    border-radius: 100px;
    margin: 20px;
    padding: 10px 10px 20px 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
/* Table Format*/
#tabela{
    border: 1px solid black;
    border-spacing: 0px;
    margin: 20px auto 0px auto;   
}
#tableTitle{
    font-size: 20pt;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    text-align: center;

}
#tabela td{
    border: 1px solid black;
    padding: 8px;
}

/* SELECT FORMAT ORIGINAL FROM: WebCis */
.div-select {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width:250px;  /* Tamanho final do select */
    overflow:hidden; /* Esconde o conteúdo que passar do tamanho especificado */
}  
.div-select select {
    background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-select.gif) no-repeat #354880;  /* Imagem de fundo (Seta) */
    background-position: 205px center;  /*Posição da imagem do background*/
    width: 270px; /* Tamanho do select, maior que o tamanho da div "div-select" */
    height:48px; /* altura do select, importante para que tenha a mesma altura em todo os navegadores */
    font-family:Arial, Helvetica, sans-serif; /* Fonte do Select */
    font-size:18px; /* Tamanho da Fonte */
    padding:13px 20px 13px 12px; /* Configurações de padding para posicionar o texto no campo */
    color:#fff; /* Cor da Fonte */
    text-indent: 0.01px; /* Remove seta padrão do FireFox */
    text-overflow: "";  /* Remove seta padrão do FireFox */     
    select::-ms-expand {display: none;} /* Remove seta padrão do IE*/
 } 
/*Button format*/
#botao{
width: 50%;
background-color: #354880;
color: white;
margin: 10px;
border-radius: 100px ;
position: relative;
left: 50%;
transform: translateX(-53%);
}
/*Format Result area and Footer */
div#res{
text-align: center;
}
footer{
    text-align: center;
    font-size: 8pt;
}